.container
  .header_logos
    = link_to board_path(@task.board_id) do
      = image_tag 'back.png', class: 'header_back'
    %p.header_pageTitle Task
  %h2 New Task
  %ul
    - @task.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @task, url: board_tasks_path(@board), method: 'post', local: true) do |f|
    %div
      = f.label :name, 'Name'
    %div
      = f.text_field :name, class: 'text'
    %div
      = f.label :description, 'Description'
    %div
      = f.text_area :description
    %div
      = f.label :closing_day, 'Closing Day'
    %div
      = f.date_field :closing_day, class: 'text'
    %div
      = f.label :eyecatch, 'Eyecatch'
    %div
      = f.file_field :eyecatch
    = f.submit 'Submit', class: 'btn-primary'