.container
  .header_logos
    = link_to board_path(@task.board_id) do
      = image_tag 'back.png', class: 'header_back'
    %p.header_pageTitle Task
  - if user_signed_in? && current_user.has_written_task?(@task)
    %object.card_detail_actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_task_path(@task.board_id, @task.id)
          = link_to 'Delete', board_task_path(@task.board_id, @task.id), data: { method: 'delete', confirm: 'Are you sure you want me to delete it?' }
  %h2=@task.name
  %p
    %span Closing:
    = @task.closing_day
  .card
    - if @task.eyecatch.attached?
      .card_image
        = image_tag @task.eyecatch
  .card  
    .card_content
      = @task.description
  %h1 Comment

  - @comments.each do |comment|
    .card_comment
      = link_to  profile_path(id: comment.user_id) do
        = image_tag comment.user.avatar_image
      %p= comment.comment

  = link_to new_board_task_comment_path(@task.board_id, @task.id) do
    .float_btn.comment
      %p + Add new comment