= link_to board_path(id: board.id) do
  .card
    .card_content
      - if user_signed_in? && current_user.has_written_board?(board)
        %object.card_detail_actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_path(board)
              = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: 'Are you sure you want me to delete it?' }
      .card_name
        = board.name
      .card_description
        = board.description
      %object.card_detail
        = link_to  profile_path(id: board.user_id) do
          = image_tag board.user.avatar_image