= link_to board_task_path(task.board_id, task.id) do
  .card
    .card_content
      - if task.eyecatch.attached?
        .card_image
          = image_tag task.eyecatch
      .card_name
        = task.name
      .card_description
        = task.description
      .card_heart
        = image_tag 'Shape.png'
        %span= task.comment_count
      %object.card_detail
        = link_to  profile_path(id: task.user_id) do
          = image_tag task.user.avatar_image